@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
body{
    background:#f3e9f1}
.nav-bar_custom{
    background-color: #2e2d2e;
    height: 50px;
    -webkit-box-shadow: -2px 9px 16px 0px rgba(176,160,176,1);
    -moz-box-shadow: -2px 9px 16px 0px rgba(176,160,176,1);
    box-shadow: -2px 9px 16px 0px rgba(176,160,176,1);
    margin-bottom: 3px;
    .nav-link{
         color:white;
        }
    .active{
        position: absolute;
        left:5px;
        background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
        -webkit-text-fill-color:transparent;
        -webkit-background-clip: text;
        font-weight: bold;
        font-size: 1.5em
        }
    @media (max-width:576px){
        width: 100%;
        .active{
            font-size:0.8em;
            }
        .nav-link{
            font-size:0.7em;
            }
        }
    }
div.orinoco-bloc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f3e9f1;
   
    i{
           background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
            -webkit-text-fill-color:transparent;
            -webkit-background-clip: text;
        }
    h1{
        font-family:'Finger Paint', cursive, sans-serif;
            span{
                font-size: 0.36em;
                display: block;
                text-align: center}
         }
    }
    .orinoco-items{
        display: flex;
        justify-content: space-around;
        align-items: center;
         background-color: #f3e9f1;
         margin:20px auto 40px;
         span{
             text-align: center;
             i{
              background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
            -webkit-text-fill-color:transparent;
            -webkit-background-clip: text;
            font-size: 40px;
            margin:8px auto;
                }
                    span{
                        display: block;
                        font-size: 0.8em;
                        font-family:'Finger Paint', cursive, sans-serif;
                        }
        }
    
    }
footer{
    width:100% !important;
    background: black}    
.footer-align_items{
    a{  
        margin-right: 40px;
        display: block;
        color:black;}
     }     
.social-media{
    font-size: 2em;}
.footer-copyright{
    a{
        color:grey;}
    }
.product-card{
    margin:15px auto;
    padding: 10px;
    background: transparent;
    .card{
        padding: 10px;
        background-color: #f3e9f1;
        .btn-primary{
            background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
            width:150px;
            margin:1px auto;}}
    }
#new-product{
        margin :20px auto 40px;
        -webkit-box-shadow: -18px -3px 22px 0px rgba (0,0,0,0,75);
        -moz-box-shadow: -18px -3px 22px 0px rgba (0,0,0,0,75);
        shadow-box: -18px -3px 22px 0px rgba (0,0,0,0,75);
            @media (max-width:576px){
            .div-custom{
                display:flex;
                flex-direction: column;
            h1{
                order:1
                }
            p{
                order:2
                }
            label{
                order: 3
                }
            select{
                order:4
                }
            button{
                order:5
                }
            }
            .img-custom{
                font-size: 0.9em;
                font-weight:light;
                }
        }
    h1{
        text-align: center;
        background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
        -webkit-text-fill-color:transparent;
        -webkit-background-clip: text;
        @media (max-width:576px){
            font-size:1.5em;
            }
        }
    img{
        -webkit-box-shadow: 4px 0px 40px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 0px 40px -2px rgba(0,0,0,0.75);
        box-shadow: 4px 0px 40px -2px rgba(0,0,0,0.75);
        border:6px solid white;
        margin:20px auto;
        max-width:100%;
        @media (max-width:576px){
            max-width: 100%;
            }
        }
    label{
        display: block;
        }
    button{
        display: block;
        margin:10px auto;
        background: black;
        color:white;
        border-radius:1em;
        padding:5px;
        border-color:black;
        -webkit-box-shadow: -1px 1px 12px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 1px 12px -1px rgba(0,0,0,0.75);
        box-shadow: -1px 1px 12px -1px rgba(0,0,0,0.75);
        transform:scale(1);
        &:hover{
            transition:all 0.5s linear;
            transform: scale(1.2)
            }
        @media (max-width:576px){
            max-width: 100%;

            }
        }
        
    
}     