@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
body{
    background:#f3e9f1}
.nav-bar_custom{
    background:black;
    height: 50px;
    -webkit-box-shadow: -2px 9px 16px 0px rgba(176,160,176,1);
    -moz-box-shadow: -2px 9px 16px 0px rgba(176,160,176,1);
    box-shadow: -2px 9px 16px 0px rgba(176,160,176,1);
    margin-bottom: 3px;
    .nav-link{
         color:white;
        }
    .active{
        position: absolute;
        left:5px;
        background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
        -webkit-text-fill-color:transparent;
        -webkit-background-clip: text;
        font-weight: bold;
        font-size: 1.5em
        }
    @media (max-width:576px){
        width: 100%;
        .active{
            font-size:0.8em;
            }
        .nav-link{
            font-size:0.7em;
            }
        }
    }
div.orinoco-bloc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f3e9f1;
   
    i{
           background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
            -webkit-text-fill-color:transparent;
            -webkit-background-clip: text;
        }
    h1{
        font-family:'Finger Paint', cursive, sans-serif;
            span{
                font-size: 0.36em;
                display: block;
                text-align: center}
         }
    }
    .orinoco-items{
        display: flex;
        justify-content: space-around;
        align-items: center;
         background-color: #f3e9f1;
         margin:20px auto 40px;
         span{
             text-align: center;
             i{
              background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
            -webkit-text-fill-color:transparent;
            -webkit-background-clip: text;
            font-size: 40px;
            margin:8px auto;
                }
                span{
                    display: block;
                    font-size: 0.8em;
                    font-family:'Finger Paint', cursive, sans-serif;
                    }
        }
    
}
footer{
    width:100% !important;
    background: black
    }    
.footer-align_items{
    a{  
        margin-right: 40px;
        display: block;
        color: white
        }
 }   
.social-media{
    font-size: 2em;}
.footer-copyright{
    color: grey;
    a{
        color:grey;}
    }
.product-card{
    margin:15px auto;
    padding: 10px;
    background: transparent;
    .card{
        padding: 10px;
        background-color: #f3e9f1;
        .btn-primary{
            background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
            width:150px;
            margin:1px auto;}}
    }
#new-product{
        margin :20px auto 40px;
            @media (max-width:576px){
            .div-custom{
                display:flex;
                flex-direction: column;
            h1{
                order:1
                }
            p{
                order:2
                }
            label{
                order: 3
                }
            select{
                order:4
                }
            button{
                order:5
                }
            }
            .img-custom{
                font-size: 0.9em;
              
                }
        }
    h1{
        text-align: center;
        background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
        -webkit-text-fill-color:transparent;
        -webkit-background-clip: text;
        @media (max-width:576px){
            font-size:1.5em;
            }
        }
    img{
        -webkit-box-shadow: 4px 0px 40px -2px rgba(0,0,0,1);
        -moz-box-shadow: 4px 0px 40px -2px rgba(0,0,0,1);
        box-shadow: 4px 0px 40px -2px rgba(0,0,0,1);
        border:6px solid white;
        margin:20px auto;
        max-width:100%;
        @media (max-width:576px){
            max-width: 100%;
            }
        }
    label{
        display: block;
        }
    button {
        display: block;
        padding: 4px 8px;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #070707;
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px #999;
        margin:20px auto;
        &:hover {
            background-color: #3e8e41
            }
        &:active {
            background-color: #3e8e41;
            box-shadow: 0 2px #666;
            transform: translateY(4px);
        }        
    }
}
/*section panier*/
.cart-panier{
    background: #faebfa;
    -webkit-box-shadow: -1px 2px 24px 1px rgba(140,89,140,1);
    -moz-box-shadow: -1px 2px 24px 1px rgba(140,89,140,1);
    box-shadow: -1px 2px 24px 1px rgba(140,89,140,1);
    h2{
        padding:20px;
        font-size: 1.5em;
         background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
        -webkit-text-fill-color:transparent;
        -webkit-background-clip: text;
        }

    img{
        border:4px solid grey;    
        }
    
    button {
        background-color: #f4511e;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.8;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        &:hover {opacity: 1}         
   }
}


